.attribution {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 1rem;
  justify-content: center;
  /* gap: 1rem; */
  padding: 1rem;
  border: 2px solid;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);

  transition: background-color 0.1s ease;
  color: #fff;
}

.attribution:hover {
  transition: background-color 0.1s ease;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.attribution a {
  text-decoration: none;
  color: inherit;
}
